body {
    margin: 0;
    background-color: #f8f8f8;
}

.section_allSneakers {
    display: flex;
    height: 320px;
    margin: 30px auto 30px;
    border-radius: 10px;
    align-items: center;
    box-shadow: 1px 1px 1px 1px #a8a4a3; 
}

.card_sneakers {
    margin-left: 30px;
    width: 300px;
    height: 280px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 1px 1px 1px 1px #a8a4a3; 
}

.card_sneakers_namePrice{
    padding-left: 10px;
    padding-right: 10px;
    display: flex;    
    margin: auto;
    width: 280px;
    justify-content:space-between;
    align-items: center;
}

.img_card_sneakers{
    width: 240px;
    height: 220px;
}

.chatbot-boxplus {
 position: fixed;
 right: 0px;
 bottom: 0px;
 z-index: 1000; /* ajoutez cette propriété pour garantir que le chatbot apparaîtra au-dessus des autres éléments */
}
.chatbot-box {
 overflow: hidden;
 transition: height 0.3s ease;
 height: 100;
}

.chatbot-box.is-open {
 height: calc(100vh - 80px); /* ajustez cette valeur en fonction de la hauteur souhaitée */
}

.page-chatbot {
 position: fixed;
 bottom: 50px;
 right: 50px;
 width: 100%;
 max-width: 400px;
 /* transition: transform 0.3s ease; */
}

.page-chatbot.is-closed {
 transform: translateY(100%);
}

/* ------BOUTON D'OUVERTURE------ */

.button-toggle-chatbox {
 position: relative;
 background: linear-gradient(90deg, rgba(35,95,255,1) 0%, rgba(45,161,245,1) 100%);
 width: 110px;
 height: 110px;
 bottom: 0;
 right: 0;
 cursor: pointer;
 border-radius: 50%;
 border: 3px solid white;
 border-bottom: none;
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 transition: all 0.3s ease;
}

#bot-text {
 font-size: 12px; /* ajustez la taille du texte si nécessaire */
 font-weight: bold;
 color: white; /* changez la couleur du texte pour qu'il soit visible sur le bouton */
 margin-top: -30px; /* ajustez la marge supérieure pour positionner correctement le texte */
 padding: 5px;
}
.button-toggle-chatbox img {
 justify-content: space-evenly;
 box-sizing: border-box;
 width: 90px; /* modifiez la taille de l'image */
 float: none; /* supprimez cette propriété pour centrer l'image */
 transition: transform 0.3s ease;

}
.button-toggle-chatbox:hover img {
 transform: scale(1.1);
}


/* ------ZONE DES MESSAGES------ */
.window-chatbot {
 background-color: white;
 max-height: 600px;
 width: 500px;
 height: 600px;
 position: relative;
 display: flex;
 flex-direction: column;
 bottom: 0px;
 right: 0px;
 scroll-behavior: smooth;
 transition: height 0.3s ease-out;
 border-radius: 15px;
 font-family: 'Roboto', sans-serif; /* ajoutez cette propriété */

}
.scrollbar {
 overflow: auto;
 scrollbar-width: none;
 height: max-content;
 transition: max-height 0.2s ease-out;
 height: 700px;
}
.window-chatbot ul li {
 list-style-type: none;
 text-align: left;
 padding:0;
 margin: 0;
}
/* ------ZONE DE SAISIE DE TEXTE------ */
.input-zone {
 display: flex;
 background-color: #e7e7e7;
 padding: 10px 15px;
 border-left: 3px solid white;
 border-right: 3px solid white;
}

.input-zone input[type="text"] {
 flex-grow: 1;
 border: 1px solid #84bbf3;
 border-radius: 6px;
 padding: 10px;
 font-size: 14px;
 outline: none;
 margin-right: 10px;
}

.sendButton {
 background: linear-gradient(90deg, rgba(35,95,255,1) 0%, rgba(45,161,245,1) 100%);
 border: 1px solid #84bbf3;
 color: #ffffff;
 font-size: 15px;
 font-weight: bold;
 padding: 8px 15px;
 border-radius: 6px;
 cursor: pointer;
}

.sendButton:hover {
 background: linear-gradient(90deg, rgb(25, 69, 190) 0%, rgb(33, 118, 179) 100%);
}

.sendButton:active {
 position: relative;
 top: 1px;
}
/* ------MESSAGES USER/BOT------ */
.user {
 margin: 2px;
 padding: 15px;
 color: white;
 background: linear-gradient(90deg, rgba(35,95,255,1) 0%, rgba(45,161,245,1) 100%);   
 width: 75%;
 float: right;
 margin-right: 10px;
 margin-left: 25%;
 border-radius: 10px 10px 0px 10px;
 max-width: max-content;
 animation: floatup .5s forwards
}
.bot {
 margin: 2px;
 padding: 15px;
 color: rgb(0, 0, 0);
 background: #e0e0e0;
 width: 75%;
 float: left;
 margin-left: -30px;
 margin-right: 25%;
 border-radius: 10px 10px 10px 0px;
 animation: floatup .5s forwards
}
/* --- affichage de l'heure ---*/
.time {
    font-size: 10px;
    display: block;
    text-align: right;
    margin-top: 4px;
  }
/* --- Mettre en évidence les mots clés --- */
.highlight {
    display: inline-block;
    background-color: #074dff;
    font-weight: bold;
    font-size: 15px;
    color: #ffffff;
    padding: 5px 10px;
    margin: 2px;
    border-radius: 4px;
    cursor: pointer;
    text-decoration: none; /* Ajouté pour supprimer le soulignement des liens */
    transition: background-color 0.2s ease;
  }
  
  .highlight:hover {
    background-color: #0038a8; /* Couleur de fond au survol */
  }
  .highlights {
    font-weight: bold;
    color: #074dff;
    font-size: 15px;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  
  .highlights:hover {
    color: #0038a8;
    font-size: 16px;
  }
  
/* ------ANIMATIONS------ */

@keyframes chatbot-window {
 0% { top: 700px; }
 90% { top : 700px; }
   100% { top: 0px; }
}
@keyframes floatup {
   from {
       transform: translateY(15px);
       opacity: .0;
   }
   to {
       transform: translateY(0px);
       opacity: 1;
   }
}